
  <div class="task">
    <div class="task-title">
      タスク内容
    </div>

    <%# <%= render 'shared/error_messages', model: f.object %>
    <div class="new-task">
      <div class="weight-bold-text">
        タスク名
        <span class="indispensable">必須</span>
      </div>
      <div class="tasks-text">
        <%= @task.content %>
      </div>
      <div class="tasks-explain">
        <div class="weight-bold-text">
          タスクの説明
        </div>
        <div class="tasks-text">
          <%= @task.description %>
        </div>
      </div>
      <div class="img-upload">
        <div class="click-upload">
          <p class="weight-bold-text">画像</p>
        </div>
          <%= image_tag @task.image, class: "image-box"%>
      </div>
      <div class="btn">
        <%= link_to "編集", edit_group_task_path(@group, @task), class:"edit-btn" %>
        <%= link_to "戻る", group_tasks_path, class:"back-btn"%>
      </div>
    </div>    
  </div>
