  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= current_user.name %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"%>
      </div>
      <div class="create-group">
        <div class="make-list">
          <div class="header-button">
            <%= form_with model: @group, url: groups_path, local: true do |f| %>
              <%= f.text_field :content, class: "group-text", placeholder: 'リストを入力（10文字以内）' %>
          </div>
            <%= f.submit "作成", class: "submit-btn"%>
            <% end %>
        </div>
      </div>
    </div>

    <div class="groups">
      <% current_user.groups.each do |group| %>
        <div class="group">
          <div class="group-name">
            <%= link_to group.content, group_tasks_path(group), data: {"turbolinks" => false}, class: "group-btn" %>
            <div class="link_btns">
              <%= link_to "編集", edit_group_path(group), class: "group-delete-btn"%>
              <%= link_to "削除", group_path(group), method: :delete ,class: "group-delete-btn"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>