
  <div class="task">
    <%= form_with url: group_path(@group), model: @group, local: true do |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %>
    <div class="new-task">
      <div class="weight-bold-text">
        リスト名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :content, class:"tasks-text", id:"task-name", maxlength:"10" %>
      <div class="btn">
      <%= f.submit "更新", class:"send-btn" %>
      <%= link_to "戻る", groups_path, data: {"turbolinks" => false}, class:"back-btn"%>
      </div>
    </div>
    <% end %>
  </div>
